# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
env/
venv/
ENV/

# Operating System files
.DS_Store
Thumbs.db
desktop.ini

# Logs & temp
*.log
tmp/

